/*? Start Variables */
:root {
    --mainColor: #04c5fc;
    --mainColorT: rgba(4, 197, 252, 0.8);
    --mainTransp: rgba(9, 168, 208, 0.1);
    --Greybg: #f3f4f6;
    --sectionPadding: 50px;
    --mainDuration: 0.5s;
}
/*? End Variables */
/*! Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::selection {
    background-color: #000;
    color: #fff;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    background-color: var(--mainColor);
}
::selection {
    background-color: #fff;
    color: #000;
}
.container {
    margin-inline: auto;
    padding-inline: 15px;
}
#to-top {
    /*^ Scroll To Top Button */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    position: fixed;
    bottom: 20px;
    right: -1000px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: var(--mainColorT);
    z-index: 99;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: var(--mainDuration);
    -webkit-transition: var(--mainDuration);
    -moz-transition: var(--mainDuration);
    -ms-transition: var(--mainDuration);
    -o-transition: var(--mainDuration);
}
#to-top .fas {
    font-size: 20px;
    color: #fff;
    transition: var(--mainDuration);
    -webkit-transition: var(--mainDuration);
    -moz-transition: var(--mainDuration);
    -ms-transition: var(--mainDuration);
    -o-transition: var(--mainDuration);
}
#to-top:hover {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
}
#to-top:hover .fas {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}
.heading h1 {
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.heading h1::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 100px;
    height: 3px;
    background-color: var(--mainColor);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.heading h1::after {
    content: "";
    position: absolute;
    bottom: -27.3px;
    left: 50%;
    width: 10px;
    height: 10px;
    border: 3px solid var(--mainColor);
    background-color: #f3f4f6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
}
.heading p {
    color: #777;
    text-align: center;
    width: 600px;
    max-width: 100%;
    line-height: 1.8;
    margin: 0 auto 80px auto;
}
/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 738px;
    }
}
/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 962px;
    }
}
/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*! Start Header */
header {
    height: 80px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header img {
    width: 160px;
}
header .links {
    position: relative;
}
@media (min-width: 768px) {
    header .links .menu {
        display: none;
    }
    header .links li {
        display: inline-block;
        list-style: none;
        margin-top: 5px;
    }
    header .links li a {
        position: relative;
        color: #000;
        margin: 0 10px;
        text-decoration: none;
        font-weight: bold;
        transition: var(--mainDuration);
        -webkit-transition: var(--mainDuration);
        -moz-transition: var(--mainDuration);
        -ms-transition: var(--mainDuration);
        -o-transition: var(--mainDuration);
    }
    header .links li a::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: var(--mainColor);
        transition: var(--mainDuration);
        -webkit-transition: var(--mainDuration);
        -moz-transition: var(--mainDuration);
        -ms-transition: var(--mainDuration);
        -o-transition: var(--mainDuration);
    }
    header .links li:hover a,
    header .links li a.active {
        color: var(--mainColor);
    }
    header .links li:hover a::before,
    header .links li a.active::before {
        width: 100%;
    }
}
@media (max-width: 767px) {
    header .links .menu {
        display: inline-block;
        width: 30px;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
    }
    header .links .menu span {
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: #333;
        transition: var(--mainDuration);
        -webkit-transition: var(--mainDuration);
        -moz-transition: var(--mainDuration);
        -ms-transition: var(--mainDuration);
        -o-transition: var(--mainDuration);
    }
    header .links .menu span:nth-child(2) {
        margin-block: 4px;
        width: 75%;
    }
    header .links .menu span:last-child {
        width: 50%;
    }
    header .links:hover .menu span {
        background-color: var(--mainColor);
        width: 100%;
    }
    header .links ul {
        width: 200px;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 30px;
        right: 0;
        display: none;
    }
    header .links:hover ul {
        display: block !important;
    }
    header .links ul::before {
        content: "";
        position: absolute;
        top: -24px;
        right: 5px;
        border: 12px solid;
        border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
    }
    header .links ul li {
        list-style: none;
        padding: 15px;
        border-bottom: 1px solid #fff;
    }
    header .links ul li:hover {
        border-bottom-color: var(--mainColor);
        cursor: pointer;
    }
    header .links ul li a {
        text-decoration: none;
        font-weight: 600;
        color: #fff;
        transition: var(--mainDuration);
        -webkit-transition: var(--mainDuration);
        -moz-transition: var(--mainDuration);
        -ms-transition: var(--mainDuration);
        -o-transition: var(--mainDuration);
    }
    header .links ul li:hover a {
        color: var(--mainColor);
        padding-left: 15px;
    }
}
/*! End Header */
/** Start Landing */
.landing {
    position: relative;
    height: calc(100vh - 80px);
    width: 100%;
    background-image: url(../images/landing-bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.landing .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    color: #fff;
    text-transform: uppercase;
}
.landing .container h1 {
    letter-spacing: 3px;
}
.landing .container .btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 480px) {
    .landing .container .btns {
        flex-direction: column;
        height: 145px;
    }
}
@media (min-width: 991px) {
    .landing .container .btns {
        width: 40%;
    }
}
.landing .container .btns input {
    width: 200px;
    margin: 0 10px;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    outline: none;
    cursor: pointer;
    transition: var(--mainDuration);
    -webkit-transition: var(--mainDuration);
    -moz-transition: var(--mainDuration);
    -ms-transition: var(--mainDuration);
    -o-transition: var(--mainDuration);
}
.landing .container .btns input:hover {
    background-color: #fff !important;
}
.landing .container .btns .prev {
    background-color: transparent;
    border: 1px solid #fff;
}
.landing .container .btns .prev:hover {
    color: #000;
}
.landing .container .btns .theme {
    background-color: var(--mainColor);
    border: 1px solid transparent;
    margin-left: 10px;
}
.landing .container .btns .theme:hover {
    color: var(--mainColor);
    border-color: var(--mainColor);
}
@keyframes updown {
    0% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
}
.landing i.fas {
    font-size: 30px;
    color: var(--mainColor);
    position: absolute;
    bottom: 5px;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    animation: updown 1s infinite linear;
    -webkit-animation: updown 1s infinite linear;
}
/** End Landing */
/*^ Start Portfolio */
.portfolio {
    position: relative;
    padding-block: var(--sectionPadding);
    background-color: #f3f4f6;
}
.portfolio .prev-works {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.portfolio .prev-works .work {
    width: calc(100% / 6);
    height: 400px;
    position: relative;
    overflow: hidden;
}
@media (max-width: 767px) {
    .portfolio .prev-works .work {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .portfolio .prev-works .work {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .portfolio .prev-works .work {
        flex-basis: calc(100% / 6);
    }
}
.portfolio .prev-works .work img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.portfolio .prev-works .work:hover img {
    transform: rotate(3deg) scale(1.1);
    -webkit-transform: rotate(3deg) scale(1.1);
    -moz-transform: rotate(3deg) scale(1.1);
    -ms-transform: rotate(3deg) scale(1.1);
    -o-transform: rotate(3deg) scale(1.1);
}
.portfolio .prev-works .work .up {
    width: 100%;
    position: absolute;
    bottom: -500px;
    background-color: var(--mainColorT);
    color: #fff;
    padding-block: 15px;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.portfolio .prev-works .work .up h3 {
    margin-bottom: 40px;
    font-weight: normal;
    text-transform: uppercase;
}
.portfolio .prev-works .work .up p {
    margin-bottom: 20px;
    line-height: 1.7;
    padding-inline: 5px;
}
.portfolio .prev-works .work .up div {
    display: flex;
    justify-content: center;
}
.portfolio .prev-works .work .up div i {
    color: #fff;
    margin: 0 10px;
}
.portfolio .prev-works .work:hover .up {
    bottom: 0;
}
.portfolio .container:last-child {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 120px;
}
.portfolio .container:last-child .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
    padding: var(--sectionPadding);
    text-align: center;
    background-color: #fff;
    border: 1px solid var(--mainColor);
    transition: var(--mainDuration);
    -webkit-transition: var(--mainDuration);
    -moz-transition: var(--mainDuration);
    -ms-transition: var(--mainDuration);
    -o-transition: var(--mainDuration);
}
.portfolio .container:last-child .card:hover {
    background-color: var(--mainColor);
    border: 1px solid #fff;
}
.portfolio .container:last-child .card div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.portfolio .container:last-child .card div i {
    font-size: 34px;
    color: #777;
}
.portfolio .container:last-child .card div span {
    display: inline-block;
    margin-block: 20px;
    width: 30px;
    height: 5px;
    background-color: var(--mainColor);
}
.portfolio .container:last-child .card:hover div span {
    background-color: #fff;
}
.portfolio .container:last-child .card div h3 {
    text-transform: uppercase;
}
.portfolio .container:last-child .card p {
    max-width: 300px;
    line-height: 2;
    color: #444;
}
.portfolio .container:last-child .card:hover p {
    color: #fff;
}
/*^ End Portfolio */
/*? Start Clients */
.clients {
    padding-block: var(--sectionPadding);
}
.clients .container .tmarks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
@media (max-width: 767px) {
    .clients .container .tmarks {
        flex-flow: column nowrap;
    }
    .clients .container .tmarks img {
        margin-block: 15px;
    }
}
/*? End Clients */
/*& Start Contact */
.contact {
    background-color: #0f1012;
}
@media (min-width: 992px) {
    .contact .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}
@media (max-width: 991px) {
    .contact .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}
.contact .container .box {
    margin: 30px;
    border: 1px solid #fff;
    padding: 50px 10px;
}
.contact .container .box h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 50px;
    font-size: 22px;
    position: relative;
}
.contact .container .about h3::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: calc(50% - 15px);
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: var(--mainColor);
}
.contact .container .about p {
    color: #fff;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
}
@media (max-width: 767px) {
    .contact .container .about p {
        line-height: 3;
    }
}
@media (min-width: 992px) {
    .contact .container .about p {
        padding: 40px;
        line-height: 2.2;
    }
}
.contact .container form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 767px) {
    .contact .container form {
        justify-content: space-evenly;
    }
}
.contact .container form div {
    position: relative;
    width: 75%;
}
.contact .container form div::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    bottom: 31px;
    left: 5px;
    color: var(--mainColor);
}
.contact .container form .email::after {
    content: "\f0e0";
}
.contact .container form .msg::after {
    content: "\f27a";
}
.contact .container form div input {
    margin-block: 15px;
    padding: 15px 10px 15px 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    width: 100%;
    background: transparent;
    color: #fff;
}
.contact .container form div input::placeholder {
    color: #fff;
}
.contact .container form div input:focus {
    border-bottom-color: var(--mainColor);
}
.contact .container form button {
    margin: 25px 12% 0 0;
    align-self: flex-end;
    outline: none;
    border: none;
    background: transparent;
    text-transform: uppercase;
    color: var(--mainColor);
    font-weight: bold;
    cursor: pointer;
}
/*& End Contact */
/** Start Footer */
footer {
    background: var(--mainColor);
    color: #fff;
    font-size: 18px;
    padding-block: 25px;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 991px) {
    footer .container {
        flex-direction: column;
        text-align: center;
    }
    footer .container p {
        margin-bottom: 15px;
    }
}
footer .container span {
    font-weight: bold;
}
footer .container .social a {
    color: #fff;
    text-decoration: none;
    margin-inline: 10px;
}
/** End Footer */
